body {
  margin: 0;
}

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

Link {
  display: box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;

  gap: 50px;
}

.grid-item {
  background-color: cyan;
}

.link-local-styles {
  /* color: var(--amplify-colors-white); */
  text-decoration: none;
  font-size: 0.8rem;
}

.link-local-styles:hover {
  font-weight: var(--amplify-font-weights-bold);
  /* color: var(--amplify-colors-yellow-40); */
}

.link-local-styles:active {
  color: var(--amplify-colors-blue-100);
  /* background-color: var(--amplify-colors-yellow-10); */
  font-weight: var(--amplify-font-weights-bold);
}
/* tokens.colors.brand.primary[100] */
.link-local-styles-subheader {
  color: var(--amplify-colors-brand-primary-100);
  /* font-weight: var(--amplify-font-weights-bold); */
  text-decoration: none;
  padding-right: 1rem;
}

.link-local-styles-subheader:hover {
  font-weight: var(--amplify-font-weights-bold);
  color: var(--amplify-colors-blue-100);
}

.link-local-styles-subheader:active {
  color: var(--amplify-colors-blue-100);
  font-weight: var(--amplify-font-weights-bold);
}

.navbar-button {
  /* background-color: var(--amplify-colors-red-80); */
  color: var(--amplify-colors-background-quaternary);

}

.navbar-button:hover {
  background-color: var(--amplify-colors-background-tertiary);
  color: var(--amplify-colors-brand-primary-80);
}

.navbar-button:active {
  background-color: var(--amplify-colors-background-tertiary);
  color: var(--amplify-colors-brand-primary-80);
  border: none;
}

.league-submenu-button {
  color: var(--amplify-colors-background-quaternary);
  border: none;
}

.league-submenu-button:hover {
  background-color: var(--amplify-colors-background-tertiary);
  color: var(--amplify-colors-brand-primary-80);
}

.league-submenu-button:active {
  background-color: var(--amplify-colors-background-tertiary);
  color: var(--amplify-colors-red-60);
}

.create-league-or-team {
  text-decoration: none;
}

.create-league-or-team :active {
  background-color: aqua;
  border: solid 1px red;
}

.create-league-or-team :hover {
  background-color: aqua;
  border: solid 1px red;
}

.amplify-input {
  border: dotted ;
}